# Notification service local runtime secrets
PORT=8086
MONGODB_URI=<notification_mongo_url>

KAFKA_BROKER=localhost:9092
KAFKA_GROUP_ID=notification-service-group
NOTIFICATION_EXPENSE_GROUP_ID=notification-expense-group
NOTIFICATION_COMPANY_GROUP_ID=notification-company-group

API_GATEWAY_URL=http://localhost:8080
EUREKA_HOST=localhost
EUREKA_PORT=8761

SENDGRID_API_KEY=<YOUR_SENDGRID_API_KEY>
FROM_EMAIL=<YOUR_VERIFIED_EMAIL>