# Server configuration
PORT=8086

# MongoDB Atlas
MONGODB_URI=<YOUR_MONGODB_URI>

# Kafka
KAFKA_BROKER=localhost:9092
KAFKA_GROUP_ID=notification-service-group

# Service URLs
API_GATEWAY_URL=http://localhost:8080

# Eureka
EUREKA_HOST=localhost
EUREKA_PORT=8761

# SMTP (Gmail)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=<YOUR_SMTP_USER>
SMTP_PASS=<YOUR_SMTP_PASS>
