.idea
.DS_Store
.postman
/postman

# Environment files
.env
*.env
.env.production

# Python
__pycache__/
*.pyc
venv/
nohup.out

# Security / Certs
certs/
*.pem
*.jks
*.p12
*.cert
*.key

nginx/nginx.conf.production
nginx/nginx.conf

nginx/nginx.local.conf

.agents
skills-lock.json
.claude
