# MongoDB URL
MONGO_DETAILS=<YOUR_MONGO_URL>

# Service Urls
API_GATEWAY_URL=http://localhost:8080
EUREKA_SERVER=http://localhost:8761/eureka/

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092